.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    width: 100%;
   min-height: 70vh;
   
 
}



.movie {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    
}

input{
    text-align: center;
    padding: 0.8rem 10rem;
    margin: 10px;
    border: none;
    border-bottom: 2px solid black;
    background-color:  #c2b7b7;;
    outline: none;
    font-size: 1.2rem;
}


.Favorites{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
    text-align: center;
    width: 100%;
   min-height: 80vh;
   
}

.Favorit{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 5px;
}
